<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to supervisor.name, supervisor%>
        <span class="pull-right">
          <%= link_to 'Edit', edit_supervisor_path(supervisor) %>
        </span>
      </h3>
    </div>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th>Process</th>
          <th>State</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        
      <% supervisor.processes.each do |process| %>
      <tr>
        <td><%= process['name'] %></td>
        <td><%= process['statename'] %></td>
        <td><%= process['description'] %></td>
       </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>  

