<p>
  <strong>Name:</strong>
  <%= @supervisor.name %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @supervisor.hostname %>
</p>

<p>
  <strong>Port:</strong>
  <%= @supervisor.port %>
</p>

<%= link_to 'Edit', edit_supervisor_path(@supervisor) %> |
<%= link_to 'Back', supervisors_path %>
